:host {
    display: block;
    height: 100vh;
    font-family: monospace;
    color: #fff;

    .login {
        height: 100vh;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        h1 {
            padding: 0;
            margin: 20px 0 4px 0;
        }
        .claim {
            margin-bottom: 40px;
        }
        yeca-app-icon {
            margin-bottom: 1em;
            width: 90px;
            height: 90px;
        }
    }

    .stuff {
        padding: 16px;
        box-sizing: border-box;
        height: 100vh;
        overflow: hidden;
        max-width: 800px;
        margin: 0 auto;
        display: grid;
        grid-template-rows: auto auto auto 1fr;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "icon logo refresh"
            "headertitle headertitle headertitle"
            "headercontent headercontent headercontent"
            "content content content";

        yeca-app-icon {
            grid-area: icon;
            align-self: center;
            margin-right: 1em;
        }
        div.logo {
            grid-area: logo;
            align-self: center;
        }
        h1 {
            grid-area: headertitle;
            padding: 0;
            margin: 1em 0 0 0;
        }
        p {
            grid-area: headercontent;
        }
        .actions {
            grid-area: refresh;
            button {
                margin-left: 2px;
                cursor: pointer;
                transition: all 200ms ease-in-out;

                color: #fff;
                background-color: transparent;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.1);
                }
            }
        }

        .content {
            grid-area: content;
            overflow-y: auto;
            margin-top: 2em;

            .loading {
                animation: loading infinite 2s linear;
            }
            .error {
                color: red;
            }

            .result {
                .file {
                    border-top: 1px solid rgba(255, 255, 255, 0.1);
                    display: grid;
                    grid-template-rows: auto 1fr auto;
                    grid-template-columns: auto 1fr auto;
                    grid-template-areas:
                        "icon title upload download"
                        "icon description upload download"
                        "icon comment comment comment";
                    gap: 4px;
                    padding: 8px 2px;
                    cursor: pointer;
                    &:hover {
                        svg {
                            background-color: rgba(var(--color-accent-rgb), 0.7);
                            box-shadow: 0 0 0 6px rgba(var(--color-accent-rgb), 0.2);
                        }
                    }
                }
                button:not(.primary) {
                    padding: 4px 8px;
                    background-color: rgba(255, 255, 255, 0.1);
                    color: #fff;
                    align-self: center;

                    &.upload {
                        grid-area: upload;
                    }
                    &.download {
                        grid-area: download;
                    }
                }
                svg {
                    transition: all 200ms ease-in-out;
                    padding: 6px;
                    grid-area: icon;
                    fill: #fff;
                    margin: 0 16px 0 6px;
                    border-radius: 50%;
                }
                .title {
                    grid-area: title;
                }
                .description {
                    grid-area: description;
                    opacity: 0.7;
                }
                .comment {
                    grid-area: comment;
                    margin-top: 1em;

                    .form {
                        transition: opacity 200ms ease-in-out;
                        display: flex;
                        gap: 4px;

                        input {
                            flex: 1;
                            padding: 0 1em;
                            outline: 0;
                            border: 0;
                            background-color: rgba(255, 255, 255, 0.1);
                            color: #fff;
                        }

                        &.busy {
                            pointer-events: none;
                            opacity: 0.3;
                        }
                    }

                    button:not(.primary) {
                        padding: 4px 8px;
                        background-color: rgba(255, 255, 255, 0.1);
                        color: #fff;
                    }
                }
            }
        }
    }
}

@keyframes loading {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
