<div class="stuff" *ngIf="user; else tplLogin">

  <yeca-app-icon [size]="32"></yeca-app-icon>
  <div class="logo">yuuvis <span>share</span></div>
  <h1>
    Hello {{user.name}}!
  </h1>
  <p>
    Here is a list of stuff yuuvis shared with you:
  </p>
  <div class="actions">
    <button type="button" class="refresh" (click)="fetchSharedFiles()">refresh</button>
    <button type="button" class="logout" (click)="logout()">logout</button>
  </div>

  <div class="content">
    <div class="loading" *ngIf="loading">loading ...</div>
    <div class="error" *ngIf="error">OMG! {{error}}</div>
    <div class="result" *ngIf="!loading && files.length">
      <div class="file" *ngFor="let file of files">
        <button class="upload" type="button" ngxFilePicker [readMode]="fileReadMode" (filePick)="uploadFile(file, $event)">
          upload
        </button>
        <button class="download" type="button" (click)="downloadFile(file)">download</button>
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M19 3H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-5 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z" />
        </svg>
        <div class="title">{{file.title}}</div>
        <div class="description">{{file.description}}</div>
        <form class="comment" *ngIf="file.canComment" [formGroup]="commentForm" (ngSubmit)="addComment(file)">

          <button type="button" *ngIf="!file.showCommentForm"
            (click)="file.showCommentForm = !file.showCommentForm">comment</button>
          <ng-container *ngIf="file.showCommentForm">
            <div class="form" [ngClass]="{busy: addingComment}">
              <input autofocus type="text" formControlName="comment"><button class="primary" type="submit">add
                comment</button>
              <button type="button" (click)="file.showCommentForm = !file.showCommentForm">x</button>
            </div>
            <div class="notice">{{file.notice}}</div>
          </ng-container>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- login -->
<ng-template #tplLogin>
  <div class="login">
    <yeca-app-icon [pulse]="true" [size]="150"></yeca-app-icon>
    <h1 class="logo">yuuvis <span>share</span></h1>
    <div class="claim">hosted on netlify</div>
    <button class="primary" (click)="login()">Login, Buddy!</button>
  </div>
</ng-template>